@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@700&family=Lexend:wght@400;600&display=swap');

:root {
    --dark-blue: #333651;
    --cream: #FFF9F2;
    --teal: #3D96B7;
    font-size: 10px;

}


body {

    font-family: 'Lexend', sans-serif;
    background-color: var(--cream);
    color: var(--dark-blue);
    margin: 0px;
    font-size: 1.8rem;
}

menu {
    margin: 0px;
} 

.container {
    width: 80%;
    margin: auto;
}



@media (max-width: 1180px) {
    .container {
        width: 95%;
        margin: auto;
    }
}

button {
    background-color: transparent;
    border: none;
    font-family: 'Lexend', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}

/*general */
button.right-arrow svg {
    transform: rotate(180deg);
}




.rounded {
    border-radius: 5px;
}

a {
    color: var(--teal);
    font-weight: 600;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.order-1 {
    order: 1;
}

.width-33 {
    width: 33%;
}

@media (max-width: 1180px) {
    .width-33 {
        width: 100%;
    }

    .top div {
        order: 2;
    }

}

.hidden {
    display: none;
}

@media (max-width: 1180px) {
    .hidden-mobile {

        display: none;
    }
}

.max {
    max-width: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

h1 {
    font-family: 'Grandstander', cursive;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 130%;
}

section {
    margin: 40px 0px;
}

/*header*/

header {
    background-color: var(--teal);
    padding: 32px;
    margin-bottom: 30px;
}

header a {
    color: var(--cream);
}

.logo {

    font-family: 'Grandstander', script;
    text-decoration: none;
    font-size: 3.2rem;
    color: var(--dark-blue);
}

header nav {
    display: flex;
    width: 90%;
    margin: auto;


}

header nav li {
    list-style: none;
}

header nav menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;

}

header nav menu button {
    background-color: transparent;
    border: none;
    color: var(--cream);
    font-size: 2rem;
    font-family: "Lexend", sans-serif;
}

header nav menu button+menu {
    position: absolute;
    z-index: 1;
    background-color: var(--teal);
    padding: 25px;
    border-radius: 5px;
    display: none;
    width: fit-content;
}

header nav menu button+menu li {
    padding-top: 10px;
}

@media (min-width: 1181px) {
header nav menu li:hover>menu {
    display: block;

}

}

header nav menu li:hover button {
    color: var(--dark-blue);
}

header nav menu li button:after {
    content: url('../imgs/chevron-white.svg');
    display: inline-block;
    padding-left: 10px;
  
    
    
}

header nav menu li:hover button:after {
    content: url('../imgs/chevron-blue.svg');
    padding-left: 10px;
}

#mobile-menu-button {
    display: none;
}

@media (max-width: 1180px) {
    header {
        padding: 0px;
        background-color: var(--dark-blue);
    }



    header.mobile-nav-open {
        height: 100vh;
        overflow: hidden;
    }

    header.mobile-nav-open nav>menu {
        display: block;
    }

    header nav>menu {

        padding: 0px;
        flex-direction: column;
        background-color: var(--dark-blue);
        margin: 0px;
        align-items: flex-start;
        width: 100%;
        position: absolute;
        top: 106px;
        z-index: 1;


    }

    
   

    header nav menu button+menu {
        z-index: 0;
        position: relative;
        width: 100%;
        display: block;
    }

    header nav menu li:hover button {
        color: var(--cream);
    }

    header nav menu li:hover button:after {
        content: url('../imgs/chevron-white.svg');
        padding-left: 10px;
    }

    .rotate-chevron:after {
        content: url('../imgs/chevron-white.svg');
        display: inline-block;
        padding-left: 0px;
        padding-right: 10px;
        transform: rotate(-90deg);
    }
    

    header nav {
        width: 100%;
        flex-wrap: wrap;
        background-color: var(--teal);

    }

    header nav menu li {
        border-bottom: 1px solid var(--teal);
        width: 100%;
    }

    header nav menu li a,
    header nav menu li button {
        font-size: 2.4rem;
        padding: 20px 0px 20px 20px;
        display: inline-block;

    }

    header nav>div {
        width: 90%;
        margin: auto;
        padding: 20px 0px;

    }

    header nav menu li.logo {
        display: block;
    }

    #mobile-menu-button {
        text-align: center;
        display: block;

    }

    #mobile-menu-button span {
        color: var(--cream);
    }

    .button-primary {
        display: none;
    }

}

/*blog*/
.blog {
    align-items: flex-start;
}

.blog article {
    width: 30%;
    margin-right: 20px;
    box-sizing: border-box;
}

.blog article img {
    max-width: 100%;
    ;
}

@media (max-width: 1180px) {
    .blog article {
        width: 95%;
        margin: auto;

    }

    .blog article img {
        width: 100%;
    }
}

/*footer */

footer {
    background-color: var(--dark-blue);
    color: var(--cream);

}

footer nav {
    width: 80%;
    margin: auto;
    padding: 60px 0px;
}

footer nav li {
    list-style: none;
    margin-bottom: 10px;
}

footer nav>menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: top;
}

footer nav>menu li menu {
    padding: 0px;
}

footer p {
    font-size: 14px;
    text-align: center;
    margin: 0px;
    padding-bottom: 10px;
}

@media (max-width: 1180px) {

    footer nav menu li:first-child {
        width: 100%;
    }

    footer nav menu li:first-child div {
        justify-content: flex-start;
    }

    footer nav menu li:first-child div a {
        margin-right: 20px;
    }
}

/* pet gallery */

#pet-gallery-container {

    background-color: var(--dark-blue);
    margin: 0px;
    padding: 50px 0px;

}



#pet-gallery {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--cream);
}

#pet-gallery figure img {
    max-width: 560px;
}

#pet-gallery button img {
    width: 140px;
}

#pet-gallery button {
    background-color: transparent;
    border: none;
    color: var(--cream);
}

#pet-gallery div:last-of-type {
    display: flex;
    flex-direction: column;
}

#pet-gallery button.active img {
    border: 5px solid var(--teal);
}

@media (max-width: 1180px) {

    #pet-gallery {
        width: 100%;
        flex-wrap: wrap;
    }

    #pet-gallery div:last-of-type {
        display: none;
    }

    #pet-gallery figure img {
        max-width: 100%;
    }

    #pet-gallery .left-arrow {
        order: 2;
    }

    #pet-gallery .right-arrow {
        order: 3;
    }

    #pet-gallery figure {
        margin: 10px;
    }

}

/*testimonials*/

#testimonials {
    background-color: var(--teal);
    background-image: url(../imgs/x-bg.svg);
    background-size: 50px;
    margin: 80px 0px;
    padding: 80px 0px;
    color: var(--cream);
    text-align: center;
}

#testimonials figure {
    width: 70%;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

#testimonials button {
    background-color: transparent;
    border: none;
}

#testimonials button svg {
    color: var(--cream);
}

#testimonials button.active svg {
    color: var(--dark-blue);
}

@media (max-width: 1180px) {
    #testimonials button.left-arrow {
        order: 1;
    }

    #testimonials button.right-arrow {
        order: 2;
    }

    #testimonials figure {
        width: 100%;
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
    }

    #testimonials blockquote {
        margin: 0px;
    }

}


/*button*/



.button-primary:hover {
    outline: 3px solid var(--cream);

}

.button-primary {

    background-color: var(--dark-blue);
    text-decoration: none;
    padding: 10px 14px;
    border-radius: 5px;

}

.button-secondary {

    text-decoration: none;
    padding: 10px 14px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 5px;
    color: var(--dark-blue);
    border: 3px solid var(--dark-blue);
    display: flex;
    width: fit-content;
    align-items: center;
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    background-color: transparent;
}

.button-secondary span {
    padding-right: 10px;
}

.button-secondary:hover {
    color: var(--teal);
}

.button-group {
    display: flex;
    flex-wrap: wrap;
}

/*pet card*/
.pet {
    margin-right: 30px;
}

.pet a {
    text-decoration: none;
    color: var(--dark-blue);
}

.pet h3 {
    margin: 10px 0px 3px 0px;
}

.pet-container {
    display: flex;
    justify-content: space-between;

}

@media (max-width: 1180px) {
    .pet-container {

        flex-wrap: nowrap;
        overflow-x: auto;
    }
}


/*tabs */

.tabs {

    display: flex;
    align-items: center;
}

.tabs button {
    background-color: transparent;
    font-family: 'Lexend', sans-serif;
    font-size: 2.4rem;
    border: none;
    color: var(--teal);
    padding: 8px 40px;
    border-bottom: 3px solid var(--teal);
    cursor: pointer;


}

.tabs .active-tab {
    color: var(--dark-blue);
    font-weight: 700;
    border-bottom: 5px solid var(--dark-blue);
}

/* pet about */

dt {
    font-weight: 700;
    margin: 8px 0px;
    font-size: 2rem;
}

dd {
    margin: 0px 0px 35px 0px;

}

dd ul {
    padding-left: 20px;
}

dd ul li {
    padding-bottom: 15px;
    max-width: 450px;
    line-height: 150%;
}

/* forms */

label,
legend {
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

input[type=text],
input[type=tel],
input[type=email] {
    background-color: transparent;
    border: 1px solid var(--dark-blue);
    height: 35px;
    width: 400px;
    border-radius: 5px;
    margin-bottom: 30px;
    font-family: 'Lexend', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--dark-blue);
    padding: 5px 10px 5px 10px;
}

fieldset {
    border: none;
    padding: 0px;
    margin-bottom: 30px;
}

fieldset label {
    font-weight: 400;
}

input[type=checkbox],
input[type=radio] {
    margin-top: 2px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    margin-bottom: 20px;
    accent-color: var(--teal);

}

textarea {
    width: 400px;
    height: 200px;
    background-color: transparent;
    border-radius: 5px;
    margin-bottom: 30px;

}

input[type=submit] {

    background-color: var(--dark-blue);
    font-family: 'Lexend', sans-serif;
    color: var(--cream);
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    margin-top: 30px;
}

input[type=submit]:hover {
    outline: 3px solid var(--teal);

}

legend {
    margin-bottom: 15px;
}

select {
    font-family: 'Lexend', sans-serif;
    font-size: 1.8rem;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--dark-blue);
    appearance: none;
    background: url('../imgs/chevron-blue.svg');
    background-repeat: no-repeat;
    background-position: 90%;
    width: 200px;


}

@media (max-width: 1180px) {

    input[type=text],
    input[type=tel],
    input[type=email] {
        max-width: 100%;
    }

    textarea {
        max-width: 100%;
    }

}